<li class="media" id="photo_<%= comment.photo.id %>_comment_form">
  <div class="media-body">
    <%= form_for comment, :remote => true do |f| %>
      <%= f.text_field :content, :class => "form-control", :placeholder => "Add a comment..." %>
      <%= f.hidden_field :photo_id %>
    <% end %>
  </div>
</li>
