<span id="photo_<%= photo.id %>_favorite_button">
  <%= link_to "<i class='fa fa-heart-o'></i>".html_safe,
              favorites_url(:favorite => { :photo_id => photo.id }),
              :method => "post",
              :class => "btn btn-success",
              :remote => true %>
</span>
