<h1>Photo Details</h1>

<dl>
  <dt>Caption:</dt>
  <dd><%= @photo.caption %></dd>

  <dt>Image:</dt>
  <dd><%= image_tag @photo.image_url %></dd>
</dl>

<%= link_to "Back", photos_url %>

<ul class="comments">
  <% @things.each do |thing| %>
    <li></li>
  <% end %>
</ul>

